body {
  background-image: linear-gradient(to right, #051937, #00466d, #007999, #00aeb1, #33e3b6);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

section {
  background: #f8f8ff;
  border-radius: 13px;
  /* height: 225px; */
  margin: 0 auto;
  margin-top: 50px;
  padding: 5px 15px;
  text-align: center;
  width: 50%;
}

.prompt {
  background-color: #b0e0e6;
}

.message-board {
  height: 57vh;
}

button {
  cursor: pointer;
  background: #f8f8ff;
  border: none;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.message {
  color: #007999;
  font-size: 1.2rem;
  padding: 1rem;
}

.fact-url {
  background: none;
  color: #f8f8ff;
}

@media screen and (max-width: 900px) {
  section {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  section {
    width: 90%;
  }
}