body {
  background-image: linear-gradient(to right, #051937, #00466d, #007999, #00aeb1, #33e3b6);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  text-align: center;
}

h1 {
  color: #f8f8ff;
  margin: 2rem;
}

section {
  background: #f8f8ff;
  border-radius: 13px;
  height: 85%;
  margin: 0 auto;
  padding: 5px 15px;
  text-align: center;
  width: 50%;
}

.message-board {
  display: flex;
  flex-flow: column;
}

.emojis {
  background-image: linear-gradient(to left, #051937, #00466d, #007999, #00aeb1, #33e3b6);
  border-radius: 15px;
}

button {
}

.emoji {
  background-image: linear-gradient(to right, #051937, #00466d, #007999, #00aeb1, #33e3b6);
  border: none;
  border-radius: 55px;
  cursor: pointer;
  font-size: 40px;
  margin: 1rem;
  padding: 7px 13px;
}

.emoji:hover,
.emoji:focus {
  background-image: linear-gradient(to right, #330537, #75157e, #b323c0, #da5de6, #e98df1);
}

.message-board div {
  margin: 1rem;
}

.message-display {
  display: flex;
  flex-direction: column;
}

.message {
  color: #007999;
  font-size: 1.2rem;
  padding: 1rem;
}

@media screen and (max-width: 900px) {
  section {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  section {
    height: auto;
    width: 90%;
  }
}